<h1>The superuser only view</h1>
<h3>User list</h3>
{{#each results}}
  <p>
    <strong>Username: </strong>{{username}}
    <strong>First Name: </strong>{{first_name}}
    <strong>Last Name: </strong>{{last_name}}
  </p>
{{/each}}
