@import "general-purpose-mixins";

.login-form-container {
    max-width: 600px;
    margin-top: 60px;
    .input-wrapper {
        padding-left: 5px;
        padding-right: 5px;
    }
    .username-div {
        margin-bottom: 10px;
    }
    .password-div {
        margin-bottom: 10px;
    }
    #login-username {
        font-size: 18px;
        height: 45px;
    }
    #login-password {
        font-size: 18px;
        height: 45px;
    }
    #login-submit-btn {
        margin-bottom: 10px;
    }
    #login-register-btn {
        margin-bottom: 10px;
    }
    .custom-gutter(10px);
}
